*.icon-white{color:white;}
*.icon-silver{color:silver;}
*.icon-green{color:green;}
*.icon-dark{color:gray;}
*.bold-blue{color:blue;font-weight: bold;}
*.bold-red{color:red;font-weight: bold;}


@media screen and (max-width : 768px) {
/* 	Small screen */
	div.full-details{display: none;}
	div.less-details{display:block;}
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
/* 	Medium screen */
	div.full-details{display: block;}
	div.less-details{display:none;}
	.hideable-colum{display: none;}
}

@media screen and (min-width : 1024px) {
/* 	Large screen */
	div.less-details{display:none;}
	.hideable-colum{display: table-cell;}
}


/* login test */
@media screen and (max-width : 1024px) {
/* 	touchscreen */
	div.less-details-log{display:block;}
	div.full-details-log{display: none;}
}
@media screen and (min-width : 1024px) {
/* 	touchscreen */
	div.less-details-log{display:none;}
	div.full-details-log{display: block;}
}