<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		
<head th:replace="fragments::page_head('Reset password', 'none')"></head>
<body>
<div class="container-fluid text-center">
	<div th:replace="navigation :: header_menu"></div>
	<div>&nbsp;</div>
	<h2>Reset your password</h2>
	
	<form th:action="@{/reset_password}" method="post" style="max-width: 450px; margin: 0 auto">
		<input type="hidden" th:value="${token}" name="token"/>
		<div class="border border-secondary rounded p-3">
			<div>
				<p>
					<input type="password" name="password" id="password" placeholder="Enter a new password"
						class="form-control"
						required="required" autofocus="autofocus" minlength="8" maxlength="15"/>
				</p>
			</div>
			<div>
				<p>
					<input type="password" placeholder="Confirm your new password"
						class="form-control" oninput="checkPasswordMatch(this)"
						required="required"	minlength="8" maxlength="15"/>
				</p>
			</div>
			<div>
				<p>
					<input type="submit" value="Change Password" class="btn btn-primary"/>
				</p>
			</div>
		</div>
	</form>
	<div>&nbsp;</div>
	<div th:replace="navigation :: footer_menu"></div>
</div>
<script type="text/javascript">

	function checkPasswordMatch(confirmPassword){
		if(confirmPassword.value != $("#password").val()){
			confirmPassword.setCustomValidity("Passwords do not Match");
		}else{
			confirmPassword.setCustomValidity("");
		}
	}
</script>
</body>
</html>